<%= link_to 'Home', cars_parts_path %>
<%= link_to 'Cars', cars_path%>
<%= link_to'Parts', parts_path %>
<%= link_to 'Log out', destroy_user_session_path, method: :delete %>

<p id="notice"><%= notice %></p>

<h1>Cars</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Vin</th>
      <th>Year</th>
      <th>Parts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  
  <%= form_tag(parts_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil%>
  <% end %>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td><%= car.vin %></td>
        <td><%= car.year %></td>
        <td><%= car.parts %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
<%= link_to 'Back', cars_parts_path %>
